{extend name="index/base" /}
{block name="body"}
<nav class="breadcrumb">
  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('index/index/index')}" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">关于我</span></div>
</nav>
	<section class="container">
	    <div class="container-fluid">
	        <div class="about">
	            <h2>Just about me</h2>
	            <ul>
	                <p>一枚正在努力进步的php程序员。专长领域为Web开发、服务器端开发，目前正在向全栈工程师进发。。。</p>
	            </ul>
	            <h2>About my blog</h2>
	            <ul>
	                <p>域  名：www.aiyanxin.club 注册于2017年06月20日</p>
	                <p>服务器：阿里云服务器 ，于2017年09月12日完成备案</p>
	                <p>备案号：粤ICP备17115499号-1</p>
	                <p>本站定位为IT技术博客站，博客内容主要涉及编程语言、前端开发、服务端开发及一些热门技术等方面，同时分享实用的开发资料，以及一些平时的琐碎奇闻杂谈和心情记录。。</p>
	            </ul>
	            <h2>Contact  me</h2>
	            <ul>
	                <p><i class="Hui-iconfont">&#xe67b;</i>qq : *********暂不公开 : (</p>
	                <p><i class="Hui-iconfont">&#xe6d1;</i>git：https://git.oschina.net/wilco</p>
	                <p><i class="Hui-iconfont">&#xe63b;</i>email : st-m1ng@163.com</p>
	            </ul>
	        </div>

	    </div>
	</section>
{/block}