<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>预售菜肴统计</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__//css/advance-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
</head>
<body>
<div class="today-title">
	<div class="title-1"><h3>预售菜肴统计</h3></div>
</div>
<div class="today-search">
	<input type="text" name="foodname" id="foodname" placeholder="请输入菜肴名" style="height:30px;text-align: center"/>
	<input type="text" name="dineshop" id="dineshop" placeholder="请输入店铺名" style="height:30px;text-align: center"/>
	<button type="button" class="btn btn-large btn-primary disabled" onclick="searchAdvance()" style="height:40px;margin-top:-10px;">查询</button>
</div>
<div class="today-table">
		<!-- 遮罩start -->
			<div class="body-box">
		<!-- 遮罩stop -->
			</div>
	<table class="table table-bordered" id="tablePage" style="float:left;">
		<tr id="table-title">
			<td>序号</td>
			<td>菜肴名字</td>
			<td>店铺名称</td>
			<td>预售数量</td>
		</tr>
		{volist name="foodlist" id="vo"}
		<tr>
			<td>{++$key}</td>
			<td>{$vo.f_name}</td>
			<td>{$vo.f_shopname}</td>
			<td>{$vo.f_salenum}</td>
		</tr>
		{/volist}
		<!-- <tr>
			<td>2</td>
			<td>酸菜鱼</td>
			<td>撒网</td>
			<td>20</td>
		</tr> -->
	</table>
</div>
<div class="today-page">
	<div class="pagination pagination-large">
	<div id="number"><input id="countnum" min="10" max="50" type="number" value="50" style="width:32px;height:35px;" onBlur="count()"></div>
	  <ul id="page">
	  	
	  </ul>
	<div id="number-show"><span>共180条。每页显示50条</span></div>
	</div>
</div>
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/table-page.js"></script>
<script type="text/javascript" src="__LOCAL__/js/advance-list.js"></script>
<script type="text/javascript">
	function searchAdvance()
	{
		var dineshop = document.getElementById('dineshop').value;
		var foodname = document.getElementById('foodname').value;
		$.ajax({
			type:'POST',
			url:'{:url("order/searchAdvance")}',
			data:'dineshop='+dineshop+"&foodname="+foodname,
			success:function(data){
				msg = '<tr id="table-title"><td>序号</td><td>菜肴名字</td><td>店铺名称</td><td>预售数量</td></tr>';
					$('.table').html('');
					console.log(data);
				if(data != 0){
					for(var i=0;i<data.length;i++){
						id = i;
						msg += '<tr><td>'+ ++id +'</td><td>'+data[i]["f_name"]+'</td><td>'+data[i]["f_shopname"]+'</td><td>'+data[i]["f_salenum"]+'</td></tr>';
					}
				}else{
					msg += '<tr id="table-title"><td colspan="4">没有该菜肴或者店铺</td></tr>';
				}
					$('.table').append(msg);

			},
			dataType:'json',
			error:function(){
				alert('没有该菜肴');
			}
		});
	}
</script>
</body>
</html>