<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>时间段预售菜品</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/advance-count-time.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
	<style type="text/css">
	*{margin:0;padding:0;list-style-type:none;}
	a,img{border:0;}
	body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
	/* demo */
	.demo{width:500px;margin:40px auto;}
	.demo span{display:inline-block;width:240px;}
	.demo span input{padding:3px;width:120px;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
	</style>
</head>
<body>
<div class="today-title">
	<div class="title-1"><h3>时间段预售菜品</h3></div>
</div>

<div class="demo" id="demoDate">
	<span>日期筛选&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="日期选择" id="dataDay" onclick="SelectDate(this,'yyyy-MM-dd')"/>&nbsp;&nbsp;&nbsp;&nbsp;-----</span>
	<span><input type="text" placeholder="日期选择" id="dataDay1" onclick="SelectDate(this,'yyyy-MM-dd')"/></span>
</div>	
<div class="demo" id="demoTime">
	<span>时间段筛选&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="时间选择" id="timeDay" onclick="SelectDate(this,'hh:mm:ss')"/>&nbsp;&nbsp;&nbsp;&nbsp;-----</span>
	<span><input type="text" placeholder="时间选择" id="timeDay1" onclick="SelectDate(this,'hh:mm:ss')"/></span>
</div>	

<div class="today-search">
	<input type="text" name="foodname" id="foodname" placeholder="请输入菜肴名" style="height:30px;text-align: center"/>
	<input type="text" name="dineshop" id="dineshop" placeholder="请输入店铺名" style="height:30px;text-align: center"/>
	<button type="button" class="btn btn-large btn-primary disabled" onclick="Search()" style="height:40px;margin-top:-10px;">查询</button>
</div>
<div class="today-table">
		<!-- 遮罩start -->
			<div class="body-box">
		<!-- 遮罩stop -->
			</div>
	<table class="table table-bordered" id="tablePage" style="float:left;">
		<tr id="table-title">
			<td>序号</td>
			<td>菜肴名字</td>
			<td>店铺名称</td>
			<td>预售数量</td>
		</tr>
	</table>
</div>
<div class="today-page">
	<div class="pagination pagination-large">
	<div id="number"><input id="countnum" min="10" max="50" type="number" value="50" style="width:32px;height:35px;" onBlur="count()"></div>
	  <ul id="page">
	  	
	  </ul>
	<div id="number-show"><span>共180条。每页显示50条</span></div>
	</div>
</div>
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/table-page.js"></script>
<script type="text/javascript" src="__LOCAL__/js/adddate.js" ></script> 
<script type="text/javascript" src="__LOCAL__/js/advance-list.js"></script>
<script type="text/javascript">
	function Search()
	{
		var foodname = document.getElementById('foodname').value;
		var dineshop = document.getElementById('dineshop').value;
		var dataDay = document.getElementById('dataDay').value;
		var dataDay1 = document.getElementById('dataDay1').value;
		var timeDay = document.getElementById('timeDay').value;
		var timeDay1 = document.getElementById('timeDay1').value;
		$.ajax({
			type:'POST',
			url:'{:url("order/getSearchTime")}',
			data:'foodname='+foodname+'&dineshop='+dineshop+'&dataDay='+dataDay+'&dataDay1='+dataDay1+'&timeDay='+timeDay+'&timeDay1='+timeDay1,
			success:function(data){
				msg = '<tr id="table-title"><td>序号</td><td>菜肴名字</td><td>店铺名称</td><td>预售数量</td></tr>';
					$('.table').html('');
					console.log(data);
				if(data != 0){
					for(var i=0;i<data.length;i++){
						id = i;
						msg += '<tr><td>'+ ++id +'</td><td>'+data[i]["f_name"]+'</td><td>'+data[i]["f_shopname"]+'</td><td>'+data[i]["f_salenum"]+'</td></tr>';
					}
				}else{
					msg += '<tr id="table-title"><td colspan="4">没有该菜肴或者店铺</td></tr>';
				}
					$('.table').append(msg);
			},
			dataType:'json'
		});
	}	
</script>
</body>
</html>