{extend name="index/base"/}
{block name="style"}
	<link href="http://www.js-css.cn/jscode/jscode.css" rel="stylesheet" />
	<link href="/css/smohan.face.css" type="text/css" rel="stylesheet">
{/block}
{block name="body"}
	<!--导航条-->
<nav class="breadcrumb">
  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="index.html" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">文章</span> <span class="c-gray en">&gt;</span>  <span class="c-gray">{$info.title}</span></div>
</nav>

<section class="container pt-20">
	
	<div class="row w_main_row">
				
				
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default  mb-20">
						<div class="panel-body pt-10 pb-10">
							<h2 class="c_titile">{$info.title}</h2>
							<p class="box_c"><span class="d_time">发布时间：{$info.create_time}</span><span>编辑：<a href="mailto:wfyv@qq.com">{$info.create_username}</a></span><span>阅读（{$info.read_num}）</span></p>
							<ul class="infos">
						      	{$info.content}
							</ul>
															
							<div class="keybq">
						    	<p><span>关键字</span>：{volist name="info.key" id="vo"}<a class="label label-default" href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd={$vo}&rsv_pq=9f746fc5000162cf&rsv_t=8c36PyGPA479WqdKR0Dw8pcD0zLs1P%2FkMnhM5hZMbCh4JfCIuPZcZeocoBA&rqlang=cn&rsv_enter=1&rsv_sug3=2&rsv_sug1=1&rsv_sug7=100&rsv_sug2=0&inputT=2469&rsv_sug4=2909">{$vo}</a>{/volist}</p>    
						    </div>
							
							
							
							<div class="nextinfo">
								{empty name="last_info"}
								<p class="last">上一篇：没有了</p>
								{else/}
								<p class="last">上一篇：<a href="{:url('viewinfo?id='.$last_info.article_id)}">{$last_info.title}</a></p>
								{/empty}

								{empty name="next_info"}
								<p class="next">下一篇：没有了</p>
								{else/}
								<p class="next">下一篇：<a href="{:url('viewinfo?id='.$next_info.article_id)}">{$next_info.title}</a></p>
								{/empty}
						    </div>
							
						</div>
					</div>
					
					<div class="panel panel-default  mb-20">
						<div class="tab-category">
			                <a href=""><strong>评论区</strong></a>
			            </div>
						<div class="panel-body">
							<div class="panel-body" style="margin: 0 3%;">
                    <div class="mb-20">
                    	<ul class="commentList">
                            <li class="item cl comment"> <a href="#"><i class="avatar size-L radius"><img alt="" src="http://qzapp.qlogo.cn/qzapp/101388738/1CF8425D24660DB8C3EBB76C03D95F35/100"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">老王</a>
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r">2014-8-31 15:20</time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p> 是的</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl comment"> <a href="#"><i class="avatar size-L radius"><img alt="" src="http://qzapp.qlogo.cn/qzapp/101388738/696C8A17B3383B88804BA92ECBAA5D81/100"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">老王</a>
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r">2014-8-31 15:20</time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p> +1</p>
                                    </div>
                                </div>
                            </li>

                        </ul>
    
                    </div>
                    <div class="line"></div>
                    <!--用于评论-->
                    <div class="mt-20" id="ct">
                        <div id="err" class="Huialert Huialert-danger hidden radius">成功状态提示</div>


                        <div id="Smohan_FaceBox">
						   <textarea name="text" id="Smohan_text" class="smohan_text"></textarea>
						   <p>
						   <a href="javascript:void(0)" class="face" title="表情"></a>
						   <button class="button" id="Smohan_Showface">显示表情</button>
						   </p>
						</div>
						<!--/表情盒子-->
						<!--解析表情-->
						<div id="Zones"></div>

						
                        <div class="text-r mt-10">
                            <button onclick="getPlainTxt()" class="btn btn-primary radius" > 发表评论</button>
                        </div>
                    </div>
                    <!--用于回复-->
                    <div class="comment hidden mt-20">
                        <div id="err2" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
                            <textarea class="textarea" style="height:100px;" > </textarea>
                            <button onclick="hf(this);" type="button" class="btn btn-primary radius mt-10">回复</button>
                            <a class="cancelReply f-r mt-10">取消回复</a>
                    </div>

                </div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<!--热门推荐-->
  	<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>热门推荐</strong></a>
			</div>
			<div class="tab-category-item">
				<ul class="index_recd">
					<li>
						<a href="#">阻止a标签href默认跳转事件</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
					<li >
						<a href="#">PHP面试题汇总</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
					<li >
						<a href="#">阻止a标签href默认跳转事件</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
					<li >
						<a href="#">阻止a标签href默认跳转事件</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
					<li >
						<a href="#">PHP面试题汇总</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
				</ul>
			</div>
		</div>
						
					<!--图片-->
		<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>扫我关注</strong></a>
			</div>
			<div class="tab-category-item">
				<img data-original="temp/gg.jpg" class="img-responsive lazyload" alt="响应式图片">
			</div>
		</div>
					
				</div>
			</div>
	
</section>
{/block}
{block name="script"}
	<script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script> 
	<script type="text/javascript" src="/js/smohan.face.js" charset="utf-8"></script>
	<script type="text/javascript">
   	$(function (){
		$("a.face").smohanfacebox({
			Event : "click",	//触发事件	
			divid : "Smohan_FaceBox", //外层DIV ID
			textid : "Smohan_text" //文本框 ID
		});
		//解析表情  $('#Zones').replaceface($('#Zones').html());
	});
	//Demo测试
	$('#Smohan_Showface').click(function() {
		content = $('#Smohan_text').val();

		
		div = '<li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="http://qzapp.qlogo.cn/qzapp/101388738/696C8A17B3383B88804BA92ECBAA5D81/100"></i></a>'+
	                '<div class="comment-main">'+
	                    '<header class="comment-header">'+
	                        '<div class="comment-meta"><a class="comment-author" href="#">'+ "{$username}" +'</a>'+
	                            '<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20" class="f-r">2014-8-31 15:20</time>'+
	                        '</div>'+
	                    '</header>'+
	                    '<div class="comment-body">'+
	                        '<p> '+ content +'</p>'+
	                    '</div>'+
	                '</div>'+
	            '</li>';
	    // $(this).parents('div').find('.comment:last').replaceface(div);
		$('.commentList').append(div);
		$('.commentList').(div);
		 // $('#Zones').fadeIn(360);
		 // $('#Zones').html($('#Smohan_text').val());
		 // $('#Zones').replaceface($('#Zones').html());//替换表情

		});

	</script>
{/block}
