{extend name="index/base"/}
{block name="style"}
	<link href="/public/css/smohan.face.css" type="text/css" rel="stylesheet">
{/block}
{block name="body"}
	<!--导航条-->
<nav class="breadcrumb">
  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('index/index/index')}" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">文章</span> <span class="c-gray en">&gt;</span>  <span class="c-gray">{$info.title}</span></div>
</nav>

<section class="container pt-20">
	
	<div class="row w_main_row">
				
				
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default  mb-20">
						<div class="panel-body pt-10 pb-10">
							<h2 class="c_titile">{$info.title}</h2>
							<p class="box_c"><span class="d_time">发布时间：{$info.create_time}</span><span>编辑：<a href="mailto:wfyv@qq.com">{$info.create_username}</a></span><span>阅读（{$info.read_num}）</span></p>
							<input type="hidden" name="" id="create_userid" value="{$info.create_userid}">
							<input type="hidden" name="" id="create_username" value="{$info.create_username}">
							<ul class="infos">
						      	{$info.content}
							</ul>
															
							<div class="keybq">
						    	<p><span>关键字</span>：{volist name="info.key" id="vo"}<a class="label label-default" href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd={$vo}&rsv_pq=9f746fc5000162cf&rsv_t=8c36PyGPA479WqdKR0Dw8pcD0zLs1P%2FkMnhM5hZMbCh4JfCIuPZcZeocoBA&rqlang=cn&rsv_enter=1&rsv_sug3=2&rsv_sug1=1&rsv_sug7=100&rsv_sug2=0&inputT=2469&rsv_sug4=2909" target="__blank">{$vo}</a>{/volist}</p>    
						    </div>
							
							
							
							<div class="nextinfo">
								{empty name="last_info"}
								<p class="last">上一篇：没有了</p>
								{else/}
								<p class="last">上一篇：<a href="{:url('viewinfo?id='.$last_info.article_id)}">{$last_info.title}</a></p>
								{/empty}

								{empty name="next_info"}
								<p class="next">下一篇：没有了</p>
								{else/}
								<p class="next">下一篇：<a href="{:url('viewinfo?id='.$next_info.article_id)}">{$next_info.title}</a></p>
								{/empty}
						    </div>
							
						</div>
					</div>
					
					<div class="panel panel-default  mb-20">
						<div class="tab-category">
			                <a href=""><strong>评论区</strong></a>
			            </div>
						<div class="panel-body">
							<div class="panel-body" style="margin: 0 3%;">
                    <div class="mb-20">
                    	<ul class="commentList">
                    		<!-- <div style="border:1px solid #ccc;padding:20px">
                    			<li class="item cl comment"> 
	                    			<a href="#" ><i class="avatar size-L radius"><img alt="" src="http://qzapp.qlogo.cn/qzapp/101388738/1CF8425D24660DB8C3EBB76C03D95F35/100"></i></a>
	                                <div class="comment-main">
	                                    <header class="comment-header">
	                                        <div class="comment-meta">
	                                        	<a class="comment-author" href="#">ggg</a>
	                                            <time title="bbb" datetime="2014-08-31T03:54:20" class="f-r"></time>
	                                        </div>
	                                    </header>
	                                    <div class="comment-body">
	                                        <div class="comment-content">bbbvbvb</div>
	                                    	<a href="javascript:void(0)" style="float:right;" dataid="1" dataname="" class="reply">回复</a>
	                                    </div>
	                                </div>
	                                
	                            </li>
                    		</div> -->
                    		
                    		{empty name="article_list.data"}
                    			<span>还没有小伙伴评论，快来抢沙发啦~~！</span>
                    		{else /}
                    			{volist name="article_list.data" id="vo"}

	                    		<div style="border:1px solid #ccc;padding:20px;margin:20px 0px" class="out-div">
		                            <li class="item cl comment"> <a href="#"><i class="avatar size-L radius"><img alt="" src="{empty name='vo.img'}/public/images/user-4.png{else /}{$vo.img}{/empty}"></i></a>
		                                <div class="comment-main">
		                                    <header class="comment-header">
		                                        <div class="comment-meta">
		                                        	{eq name="vo.user_id" value="0"}<span class="comment-author">{$vo.user_name}</span>{else /}<a class="comment-author" href="#">{$vo.user_name}</a>{/eq}
		                                            <time title="{$vo.create_time}" datetime="2014-08-31T03:54:20" class="f-r">{$vo.create_time}</time>
		                                        </div>
		                                    </header>
		                                    <div class="comment-body">
		                                        <div class="comment-content"> {$vo.content}</div>
	                                        	{if condition="$Think.session.home_uid neq $vo.user_id"}
													<a href="javascript:void(0)" style="float:right;" dataid="{$vo.user_id}" dataname="{$vo.user_name}" commentid="{$vo.comment_id}"  class="reply out-reply" dataid="{$i}">回复</a>
		                                        {/if}
		                                    	
		                                    </div>
		                                </div>
		                            </li>
		                            {volist name="vo.child" id="val"}
		                            	<li class="item cl comment"> <a href="#"><i class="avatar size-L radius"><img alt="" src="{empty name='val.img'}/public/images/user-4.png{else /}{$val.img}{/empty}"></i></a>
			                                <div class="comment-main">
			                                    <header class="comment-header">
			                                        <div class="comment-meta">
			                                        	{eq name="val.user_id" value="0"}<span class="comment-author">{$val.user_name}</span> {else /}<a class="comment-author">{$val.user_name}</a>{/eq}
			                                        	 回复： 
														{eq name="val.to_user_id" value="0"}<span class="comment-author">{$val.to_user_name}</span>{else /}<a class="comment-author">{$val.to_user_name}</a>{/eq}
			                                            <time title="{$val.create_time}" datetime="2014-08-31T03:54:20" class="f-r">{$val.create_time}</time>
			                                        </div>
			                                    </header>
			                                    <div class="comment-body">
			                                        <div class="comment-content"> {$val.content}</div>
		                                        	{if condition="$Think.session.home_uid neq $val.user_id"}
			                                    		<a href="javascript:void(0)" style="float:right;" dataid="{$val.user_id}" dataname="{$val.user_name}" class="reply">回复</a>
			                                    	{/if}
			                                    </div>
			                                </div>
			                            </li>
		                            {/volist}
		                        </div>
	                           

	                            {/volist}
                    		{/empty}
                    		
                        </ul>
                    </div>
                    <div class="_page">
                    	{$article_page}
                    </div>
                    <div class="line"></div>
                    <!--用于评论-->
                    <div class="mt-20" id="ct" class="out-div">
                        <div id="err" class="Huialert Huialert-danger hidden radius">成功状态提示</div>

						<div id="Smohan_FaceBox">
						   <textarea name="content" id="Smohan_text" class="smohan_text" style="width:100%;resize:none;"></textarea>
						   <p>
						   <a href="javascript:void(0)" class="face" title="表情"></a>
						   <!-- <button class="button" id="Smohan_Showface" style="float:left;margin-left:60%;margin-top:40px">显示表情</button> -->
						   </p>
						</div>	
                        
						<!--/表情盒子-->
						<!--解析表情-->
						<div id="Zones"></div>

						
                        <div class="text-r mt-10">
                        	<input type="hidden" id="user_img" value="{$user_img}">
                            <button id="Smohan_Showface" class="btn btn-primary radius Smohan_Showface" dataid="comment" style="margin-right:120px"> 发表评论</button>
                        </div>
                    </div>
                    <!--用于回复-->
                    <div class="comment hidden">
                        <div id="err2" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
                            <textarea class="textarea" style="height:100px;width:662px" > </textarea>
                            <button type="button" class="btn btn-primary radius mt-10">回复</button>
                            <a class="cancelReply f-r mt-10">取消回复</a>
                    </div>

                </div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<!--热门推荐-->
  	<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>热门推荐</strong></a>
			</div>
			<div class="tab-category-item">
				<ul class="index_recd">
					{volist name="article_hot" id="vo"}
					<li>
						<a href="{:url('viewinfo?id='.$vo['article_id'])}">{$vo.title}</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> {$vo.comment_num} </p>
					</li>
					{/volist}
				</ul>
			</div>
		</div>
						
					<!--图片-->
		<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>扫我关注</strong></a>
			</div>
			<div class="tab-category-item">
				<img data-original="temp/gg.jpg" class="img-responsive lazyload" alt="响应式图片">
			</div>
		</div>
					
				</div>
			</div>
	
</section>
{/block}
{block name="script"}
	<script src="/public/js/jquery-1.8.2.min.js" type="text/javascript"></script> 
	<script type="text/javascript" src="/public/js/smohan.face.js" charset="utf-8"></script>
	<script type="text/javascript">
   	$(function (){
		$("a.face").smohanfacebox({
			Event : "click",	//触发事件	
			divid : "Smohan_FaceBox", //外层DIV ID
			textid : "Smohan_text" //文本框 ID
		});

		

		// faceid = 0;

		// $('a.face').each(function(){
		// 	$(this).smohanfacebox({
		// 		Event : "click",	//触发事件	
		// 		divid : "Smohan_FaceBox" + faceid, //外层DIV ID
		// 		textid : "Smohan_text"//文本框 ID
		// 	});
		// 	faceid++;
		// })
		//解析表情  $('#Zones').replaceface($('#Zones').html());
		$(".comment-content").each(function(){
			$(this).replaceface($(this).html());
		})

		function getNowFormatDate() {
		    var date = new Date();
		    var seperator1 = "-";
		    var seperator2 = ":";
		    var month = date.getMonth() + 1;
		    var strDate = date.getDate();
		    var hours = date.getHours();
		    var minute = date.getMinutes();
		    var second = date.getSeconds();
		    if (month >= 1 && month <= 9) {
		        month = "0" + month;
		    }
		    if (strDate >= 0 && strDate <= 9) {
		        strDate = "0" + strDate;
		    }
		    if(hours >= 1 && hours <= 9){
		    	hours = "0" + hours;
		    }
		    if(minute >= 1 && minute <= 9){
		    	minute = "0" + minute;
		    }
		    if(second >= 1 && second <= 9){
		    	second = "0" + second;
		    }
		    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
		            + " " + hours + seperator2 + minute
		            + seperator2 + second;
		    return currentdate;
		}

		//生成从minNum到maxNum的随机数
		function randomNum(minNum,maxNum){ 
		    switch(arguments.length){ 
		        case 1: 
		            return parseInt(Math.random()*minNum+1,10); 
		        break; 
		        case 2: 
		            return parseInt(Math.random()*(maxNum-minNum+1)+minNum,10); 
		        break; 
		            default: 
		                return 0; 
		            break; 
		    } 
		}
		// console.log(randomNum(99999,999999));
		//Demo测试
		$('.Smohan_Showface').click(function() {
			if($(this).attr('dataid') == 'comment'){
				content = $('.smohan_text').val();
				to_user_id = $('#create_userid').val();
				to_user_name = $('#create_username').val();
				article_id = {:input('id')};
				commentList = $('.commentList');
				img = $("#user_img").val();
				text_area = $("#Smohan_text");
				$.post("{:url('home/article/viewinfo')}",{content:content,to_user_id:to_user_id,to_user_name:to_user_name,article_id:article_id,is_reply:0},function(data){
					name = data.data.user_name;
					if(data.code == 1){
						// layer.alert(data.msg,{icon:6});
						if(name == '/public/images/user-4.png'){
							user_name = '<span class="comment-author">'+name+'</span>';
						}else{
							user_name = '<a class="comment-author" href="#">'+name+'</a>';
						}
						apply_content = '<div style="border:1px solid #ccc;padding:20px;margin:20px 0px" class="out-div">'+
											'<li class="item cl comment"> <a href="#"><i class="avatar size-L radius"><img alt="" src="'+ img +'"></i></a>'+
				                                '<div class="comment-main">'+
				                                    '<header class="comment-header">'+
				                                        '<div class="comment-meta">'+user_name+
				                                            '<time title="'+ getNowFormatDate() +'" datetime="'+ getNowFormatDate() +'" class="f-r">'+ getNowFormatDate() +'</time>'+
				                                        '</div>'+
				                                    '</header>'+
				                                    '<div class="comment-body">'+
				                                        '<div class="comment-content">'+ content +'</div>'+
				                                    '</div>'+
				                                '</div>'+
				                            '</li>'+
				                        '</div>';
						commentList.append(apply_content);
						text_area.val('');
					}else{
						layer.alert(data.msg,{icon:5});
					}
				})
			}
			
		});

		

		reply = 0;
		
		$('.reply').click(function(){
			div = '<div id="Smohan_FaceBox1" class="comment comment-reply out-div" style="float:right;width:100%;margin-top:20px">'+
			            '<div id="err2" class="Huialert Huialert-danger hidden radius">成功状态提示</div>'+
			                '<textarea class="textarea smohan_text1" id="Smohan_text1"  style="height:100px;width:100%" > </textarea>'+
			                '<p><a href="javascript:void(0)" class="face1" title="表情"></a></p>'+
			                '<button type="button" class="btn btn-primary radius mt-10 Smohan_Showface">回复</button>'+
			                '<a class="cancelReply f-r mt-10 no_reply">取消回复</a>'+
			        '</div>';
			if(reply == 0){
				parent_li = $(this).parents('li');
				parent_li.append(div);
				reply = 1;

				$("a.face1").smohanfacebox1({
					Event : "click",	//触发事件	
					divid : "Smohan_FaceBox1", //外层DIV ID
					textid : "Smohan_text1" //文本框 ID
				});

				to_user_id = $(this).attr('dataid');
				to_user_name = $(this).attr('dataname');
				comment_id = $(this).parents('.out-div').find('.out-reply').attr('commentid');
				//回复
				$('.Smohan_Showface').click(function() {
					content = $(this).parent('div').find('#Smohan_text1').val();
					article_id = {:input('id')};

					brother = $(this).parents('.comment').find('.comment-main');
					$.post("{:url('reply')}",{content:content,link_comment_id:comment_id,to_user_id:to_user_id,to_user_name:to_user_name,article_id:article_id,is_reply:1},function(data){
						if(data.code == 1){
							// layer.alert(data.msg + '页面即将自动跳转~',{icon:6});
							user_name = data.data.user_name;
							user_img = data.data.user_img;
							is_login = data.data.user_id;

							if(is_login == 1){
								html_name = '<a class="comment-author" href="#">'+user_name+'</a>';
							}else{
								html_name = '<span class="comment-author">'+user_name+'</span>'
							}

							if(to_user_id == 1){
								to_html_name = '<a class="comment-author" href="#">'+to_user_name+'</a>';
							}else{
								to_html_name = '<span class="comment-author" href="#">'+to_user_name+'</span>';
							}
							reply_content = '<li class="item cl comment"> <a href="#"><i class="avatar size-L radius"><img alt="" src="'+user_img+'"></i></a>'+
			                                '<div class="comment-main">'+
			                                    '<header class="comment-header">'+
			                                        '<div class="comment-meta">'+
			                                        	html_name+ ' 回复： '+ to_html_name+
			                                            '<time title="'+ getNowFormatDate() +'" datetime="'+ getNowFormatDate() +'" class="f-r">'+ getNowFormatDate() +'</time>'+
			                                        '</div>'+
			                                    '</header>'+
			                                    '<div class="comment-body">'+
			                                        '<div class="comment-content">'+ content +'</div>'+
			                                    '</div>'+
			                                '</div>'+
			                            '</li>';
			                brother.after(reply_content);
			                parent_li.find('#Smohan_FaceBox1').remove();
			                reply = 0;
						}else{
							layer.alert(data.msg,{icon:5});
						}
					})
				});

			}else{
				$('.comment-reply').remove();
				reply = 0;
			}

			$('.no_reply').click(function(){
				$(this).parents('.comment-reply').remove();
				reply = 0;
			})
		})

		
	});
	

	</script>
{/block}
