<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>外卖列表</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/takeout.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
	<style type="text/css">
	*{margin:0;padding:0;list-style-type:none;}
	a,img{border:0;}
	body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
	/* demo */
	.demo{width:500px;margin:40px auto;}
	.demo span{display:inline-block;width:240px;}
	.demo span input{padding:3px;width:120px;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
	</style>
</head>
<body>
<div class="today-title">
	<div class="title-1"><h3>外卖列表</h3></div>
</div>


<div class="demo" id="demoDate">
	<span>日期筛选&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="日期选择" id="" onclick="SelectDate(this,'yyyy-MM-dd')"/>&nbsp;&nbsp;&nbsp;&nbsp;-----</span>
	<span><input type="text" value="日期选择" id="" onclick="SelectDate(this,'yyyy-MM-dd')"/></span>
</div>	
<div class="demo" id="demoTime">
	<span>时间段筛选&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="时间选择" id="" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')"/>&nbsp;&nbsp;&nbsp;&nbsp;-----</span>
	<span><input type="text" value="时间选择" id="" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')"/></span>
</div>	


<div class="today-search">
	<input type="text" name="orders" placeholder="请输入菜肴名" style="height:30px;text-align: center"/>
	<button type="button" class="btn btn-large btn-primary disabled" onclick="checkFood(this)" style="height:40px;margin-top:-10px;">查询</button>
</div>

<div class="today-table">
		<!-- 遮罩start -->
			<div class="body-box">
		<!-- 遮罩stop -->
			</div>
	<table class="table table-bordered" id="tablePage" style="float:left;">
		<tr id="table-title">
			<td>序号</td>
			<td>订单号</td>
			<td>菜肴名称</td>
			<td>付款时间</td>
			<td>价格</td>
			<td>手机账号</td>
			<td>配送信息</td>
			<td>状态</td>
			<td>操作</td>
		</tr>
		{volist name="list" id="vo"}
		<tr>
			<td>{++$key}</td>
			<td>{$vo.f_oid}</td>
			<td>
				<ul id="food-list" class="none">
				<?php foreach($vo['f_foodname'] as $k => $v):?>
					<li><div id="food-name"><?php echo $v['f_foodname'].'X'.$v['f_foodnum'];?></div></li>
				<?php endforeach;?>
				</ul>
			</td>
			<td>2017/5/3 12:13</td>
			<td>{$vo.f_ordermoney}</td>
			<td>{$vo.f_mobile}</td>
			<td>
				<ul id="food-list" class="none">
					<li><div id="food-name">{$vo.f_name} {$vo.f_phone}</div></li>
					<li><div id="food-name">{$vo.f_province}{$vo.f_city}{$vo.f_address}</div></li>
				</ul>
			</td>
			<td id="statusname">{$vo.f_status}</td>
			<td id="statusbut"><div class="font-blue" onclick=checkFood(this,{$vo.f_ysname['status']},{$vo.f_oid},"{$vo.f_ysname['name']}")>{$vo.f_ysname['name']}</div></td>
		</tr>
		{/volist}
	</table>
</div>
<div class="today-page">
	<div class="pagination pagination-large">
	<div id="number"><input id="countnum" min="10" max="50" type="number" value="50" style="width:32px;height:35px;" onBlur="count()"></div>
	  <ul id="page">
	  	
	  </ul>
	<div id="number-show"><span>共180条。每页显示50条</span></div>
	</div>
</div>
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/table-page.js"></script>
<script type="text/javascript" src="__LOCAL__/js/adddate.js" ></script> 
<!-- <script type="text/javascript" src="__LOCAL__/js/takeout.js"></script> -->
<script type="text/javascript">
	function checkFood(o,status,oid,name)
	{
		if(status == 3){
			var a = window.confirm("是否准备"+name+'?');
		}else if(status == 100){
			var a = window.confirm("是否已"+name+'?');
		}
		if(a){
			$.ajax({
				type:'post',
				data:'status='+status+'&oid='+oid,
				url:'{:url("dineshop/order/editstatus")}',
				success:function(data){
						if(status == 3){
							$(o).parent().parent().append('<td id="statusname">'+'配送中'+'</td><td id="statusbut"><div class="font-blue" onclick=checkFood(this,100,'+oid+',"完成配送")>完成配送</div></td>');
						}else if(status == 100){
							$(o).parent().parent().append('<td id="statusname">'+'已完成'+'</td><td id="statusbut"><div class="font-blue" onclick=checkFood(this,'+status+','+oid+',"")></div></td>');
						}
						$(o).parent().prev().remove();
						$(o).parent().remove();
				}
			});
		}
	}

</script>
</body>
</html>