<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>推送列表</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/today-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/food-gl.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
</head>
<body>
<div class="today-title">
	<div class="title-1"><h3>推送列表</h3></div>
	<div class="title-1"><h5 style="line-height: 50px;">推送列表</h5></div>
</div>

<div class="today-table">
	<table class="table table-bordered" id="tablePage" style="float:left;">
		<tr id="table-title">
			<td>序号</td>
			<td>标题</td>
			<td>是否已推送</td>
			<td>添加时间</td>
			<td>操作</td>
		</tr>
		{volist name="list" id="vo"}
			<tr>
				<td>{++$key}</td>
				<td>{$vo.title}</td>
				<td>{$status[$vo.status]}</td>
				<td><?=date('Y-m-d H:i:s',$vo['addtime'])?></td>
				<td><a href="{:url('push/details')}?id={$vo.id}" >详情</a>&nbsp;{if condition='$vo.status == 0'}<a href="javascript:void(0)" class="push" id="{$vo.id}">推送</a>&nbsp;{/if}<a href="javascript:void(0)" class="del" id="{$vo.id}">删除</a></td>
			</tr>
		{/volist}
	</table>
</div>
<div class="today-page">
	<div class="pagination pagination-large">
	<div id="number"><input id="countnum" min="10" max="50" type="number" value="50" style="width:32px;height:35px;" onBlur="count()"></div>
	  <ul id="page">
	  	
	  </ul>
	<div id="number-show"><span>共180条。每页显示50条</span></div>
	</div>
</div>
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/table-page.js"></script>
</body>
<script>
	$(".del").click(function(){
		var del = $(this);
		id = $(this).attr('id');
		if(confirm("您确定要删除该推送吗？")){
			$.ajax({
				type:'post',
				data:'id='+id,
				url:"{:url('push/del')}",
				success:function(data){
					if(data == 1){
						$(del).parent().parent().remove();
					}
				}
			});
		}
		
	})

	$(".push").click(function(){
		var push = $(this);
		id = $(this).attr('id');
		if(confirm("您确定要推送吗？")){
			$.ajax({
				type:'post',
				data:'id='+id,
				url:"{:url('push/push')}",
				success:function(data){
					if(data == 1){
						$(push).parent().prev().prev().html('已推送');
						$(push).remove();
					}
				}
			});
		}
		
	})
</script>
</html>