<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台首页</title>
	

	<!-- // <script src="/js/npm.js"></script> -->
	
	<link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.css">
	<link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.min.css">
	<link rel="stylesheet" href="__ROOT__/Public/css/datetimepicker.min.css">
	<link rel="stylesheet" href="__ROOT__/Public/js/layer/mobile/need/layer.css">
	<link rel="stylesheet" href="__ROOT__/Public/css/font-awesome.min.css">
	<link rel="stylesheet" href="__ROOT__/Public/css/login.css">
	<link rel="stylesheet" href="__ROOT__/Public/css/style.css">


	<script src="__ROOT__/Public/js/jquery.min.js"></script>
	<script src="__ROOT__/Public/js/bootstrap.js"></script>
	<script src="__ROOT__/Public/js/bootstrap.min.js"></script>
	<script src="__ROOT__/Public/js/admin-scripts.js"></script>
	<script src="__ROOT__/Public/js/html5shiv.min.js"></script>
	<script src="__ROOT__/Public/js/jquery-1.11.1.min.js"></script>
	<script src="__ROOT__/Public/js/jquery-2.1.4.min.js"></script>
	<script src="__ROOT__/Public/js/respond.min.js"></script> 
	<script src="__ROOT__/Public/js/selectivizr-min.js"></script>
	<script src="__ROOT__/Public/js/layer/layer.js"></script>
	

<!-- 	// <script src="/js/amazeui.js"></script>
	// <script src="/js/amazeui.upload.event.js"></script>
	// <script src="/js/amazeui.upload.js"></script>
	// <script src="/js/amazeui.upload.template.js"></script>
	// <script src="/js/am-md.js"></script>
	// <script src="/js/application.js"></script>
	// <script src="/js/bigPo.js"></script>
	// <script src="/js/bootstrap.min.js"></script>
	// <script src="/js/bootstrap_alert.js"></script>
	// <script src="/js/common.js"></script>
	// <script src="/js/datetimepicker.min.js"></script>
	// <script src="/js/echarts.min.js"></script>
	// <script src="/js/highlight.min.js"></script>
	// <script src="/js/holder.min.js"></script>
	// <script src="/js/jquery.circliful.js"></script>
	// <script src="/js/jquery.circliful.min.js"></script>
	// <script src="/js/jquery.form.js"></script>
	// <script src="/js/jquery.min.js"></script>
	// <script src="/js/jquery.mousewheel.js"></script>
	// <script src="/js/jquery.uploadfile.js"></script>
	// <script src="/js/jquery.ztree.core.js"></script>
	// <script src="/js/jquery.ztree.excheck.js"></script>
	// <script src="/js/jquery-barcode.js"></script>
	// <script src="/js/js.js"></script>
	// <script src="/js/pdfobject.js"></script>
	// <script src="/js/Print.js"></script>
	// <script src="/js/select2.full.js"></script>
	// <script src="/js/upload.js"></script>
	// <script src="/js/viewimg.js"></script>
	// <script src="/js/webuploader.js"></script> -->
	

	{block name="style"}{/block}
	<style>
		#first{
			margin:0 auto;
			width:20%;
			height:40%;
			margin-top: 10%;
		}

	</style>
</head>
<body>
	<!-- <div id="first">
		<h1>用户登录</h1>
		<div class="input-group">
		  用户名：<input type="text" class="form-control" placeholder="用户名">
		</div>
		<div class="input-group">	
		  密码：<input type="text" class="form-control" placeholder="密码">
		</div>
		<a class="btn btn-primary btn-lg" role="button">Learn more</a>
	</div> -->
{block name="body"}{/block}
	
</body>
{block name="script"}{/block}

</html>