/*·ÖÒ³ÑùÊ½*/  
.pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}  
.pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;float:left;}  
.pagination ul{width:100%;float:left;}
.pagination .active{background-color: #dd1a20;color: #fff;}  
.pagination .disabled{color:#aaa;} 
.form-group-separator{margin-top:10px;margin-bottom: 10px}