<!DOCTYPE HTML>
<html>
<head>
<title>小明个人博客 — 一个站在php开发之路上的草根程序员个人博客网站</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="keywords" content="个人博客,文明个人博客,个人博客系统,小明博客,文明">
<meta name="description" content="小明个人博客 — 一个站在php开发之路上的草根程序员个人博客网站">
<LINK rel="Bookmark" href="favicon.ico" >
<LINK rel="Shortcut Icon" href="favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/staticRes/js/html5shiv.js"></script>
<script type="text/javascript" src="/staticRes/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="/css/common.css" />
<link rel="stylesheet" type="text/css" href="/plugin/pifu/pifu.css" />
<link rel="stylesheet" href="/css/page.css">


{block name="style"}{/block}
<!--[if lt IE 9]>
<link href="/staticRes/lib/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container cl">
            <a class="navbar-logo hidden-xs" href="{:url('index/index')}">
                <img class="logo" src="/images/20130703160400_y3JzN.jpeg" alt="小明博客" />
            </a>
            <a class="logo navbar-logo-m visible-xs" href="{:url('index/index')}">小明博客</a>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:void(0);" onclick="showSide();">&#xe667;</a>
            <nav class="nav navbar-nav nav-collapse w_menu" role="navigation">
                <ul class="cl">
                    <li class="active"> <a href="{:url('index/index')}" data-hover="首页">首页</a> </li>
                    <li> <a href="{:url('home/chat/about')}" data-hover="关于我">关于我</a> </li>
                    <li> <a href="{:url('home/chat/index')}" data-hover="碎言碎语">碎言碎语</a> </li>
                    <li><a href="article.html" data-hover="学无止尽">学无止尽</a></li>
                    <li> <a href="board.html" data-hover="留言板">留言板</a> </li>
                </ul>
            </nav>
            <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">
                    <li class="userInfo dropDown dropDown_hover">
                            <!--<a href="javascript:;" ><img class="avatar radius" src="img/40.jpg" alt="丶似浅 "></a>
                            <ul class="dropDown-menu menu radius box-shadow">
                                <li><a href="/app/loginOut">退出</a></li>
                            </ul>-->
                            <!-- onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" -->
                            <?php if(empty($name)){?>
                            您好,<a href="javascript:void(0)" id="login" ><img class="avatar size-S" src="/img/qq.jpg" title="登入">请登录</a>
                            <?php }else{ ?>
                            您好,{$name}<a href="{:url('home/user/logout')}"><img class="avatar size-S" src="/img/qq.jpg" title="退出登录">退出登录</a>
                            <?php }?>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!--body-->
{block name="body"}{/block}
<!--body-->

<div class="modal fade" id="modal-1">
    <div class="modal-dialog">
        <div class="modal-content scrollable" data-max-height="450">

           <!--  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">登录</h4>
            </div> -->

            <div class="modal-body">
              <button type="button" style="float:right" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <div class="signin-head"><h3 style="text-align:center">用户登录</h3></div>
          <br>
          <form action="{:url('home/user/login')}" method="post">
              <input type="text" class="form-control col-sm-12" name="loginName" placeholder="用户名" required autofocus style="height:30px"/>
              <input type="password" class="form-control col-sm-12" name="password" placeholder="密码" required style="height:30px;"/>
              <!-- <a href="javascript:void(0)" class="btn btn-lg btn-primary btn-block"  id="sub">登录</a> -->
              <input type="submit" class="btn btn-lg btn-primary btn-block" value="登录">
          </form>
          <label class="checkbox">
              <input type="checkbox" value="remember-me"> 记住我
          </label>
                <a href="javascript:void(0)" id="register">注册账号</a>
            </div>

            <!--<div class="modal-footer">-->
              <!--<button type="button" class="btn" id="sendbtn">确 定</button>
                <button type="button" class="btn" data-dismiss="modal">取 消</button>-->
                <!--<button class="btn submit-btn ajax-post reset" id="submit" type="submit" target-form="form-horizontal">确 定</button>-->
            <!--</div>-->
        </div>
    </div>
</div>


<div class="modal fade" id="modal-2">
    <div class="modal-dialog" >
        <div class="modal-content scrollable" data-max-height="800" style="height:550px" >

           <!--  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">登录</h4>
            </div> -->

            <div class="modal-body">
                <button type="button" style="float:right" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="signin-head"><h3 style="text-align:center">用户注册</h3></div>
                <br>
                <form class="form-horizontal register" id="signupForm" action="{:url('home/user/register')}" method="post" > 
                  <div class="form-group col-sm-12" style="margin-top:20px"> 
                   <label class="col-sm-5 control-label">用户名：</label> 
                   <div class="col-sm-5"> 
                    <input id="username" name="loginName" value="" class="form-control col-sm-8 input-large" type="text" value="" aria-required="true" aria-invalid="true" placeholder="用作登录的账号"/>
                    <span class="help-block m-b-none" id="usernames"></span>  
                   </div> 
                  </div> 
                  <div class="form-group-separator"></div>
                  <div class="form-group col-sm-12" style="margin-top:20px"> 
                   <label class="col-sm-5 control-label">昵称：</label> 
                   <div class="col-sm-5"> 
                    <input name="user_name" value="" class="form-control user_name" type="text" value="" aria-required="true" aria-invalid="true"/>
                   </div> 
                  </div> 
                  <div class="form-group-separator"></div>
                  <div class="form-group col-sm-12" style="margin-top:20px"> 
                   <label class="col-sm-5 control-label">密码：</label> 
                   <div class="col-sm-5"> 
                    <input id="password" name="password" class="form-control" type="password" /> 
                   </div> 
                  </div> 
                  <div class="form-group-separator"></div>
                  <div class="form-group col-sm-12" style="margin-top:20px"> 
                   <label class="col-sm-5 control-label">确认密码：</label> 
                   <div class="col-sm-5"> 
                    <input id="confirm_password" name="repassword" class="form-control" type="password" />  
                   </div> 
                  </div> 
                  <div class="form-group-separator"></div>
                  <div class="form-group col-sm-12" style="margin-top:20px"> 
                   <label class="col-sm-5 control-label">E-mail：</label> 
                   <div class="col-sm-5"> 
                    <input id="email" name="email" class="form-control" type="email" /> 
                   </div> 
                  </div> 
                  <div class="form-group-separator"></div>
                  <div class="form-group col-sm-12" style="margin-top:20px"> 
                   <label class="col-sm-5 control-label">手机：</label> 
                   <div class="col-sm-5"> 
                    <input name="phone" class="form-control phone" type="number"  onkeyup="value=value.replace(/[^\d]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"/> 
                   </div> 
                  </div> 
                  <!-- <div><img src="{:captcha_src()}" class="verify" onclick="javascript:this.src='{:captcha_src()}?rand='+Math.random()" ></div> -->
                  <!-- <div class="form-group col-sm-12" style="margin-top:20px"> 
                   <label class="col-sm-5 control-label">身份证号：</label> 
                   <div class="col-sm-5"> 
                    <input name="id_number" class="form-control id_number" type="number" /> 
                   </div> 
                  </div>  -->
                  <!-- <div class="form-group col-sm-12" style="margin-top:20px"> 
                   <label class="col-sm-5 control-label">车牌号：</label> 
                   <div class="col-sm-5"> 
                    <input name="car_number" class="form-control car_number" type="text" /> 
                   </div> 
                  </div>  -->
                  <div class="form-group-separator"></div>
                 
                   <div class="col-sm-5 col-sm-offset-4" style="margin-top:20px;"> 
                    <a class="btn btn-primary ajax-post" target-form="form-horizontal"/>添加</a>
                    <input class="btn btn-primary" type="reset" value="重置" /> 
                   </div> 
                  </div> 
                 </form>
            </div>

            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn" id="sendbtn">确 定</button>
                <button type="button" class="btn" data-dismiss="modal">取 消</button>-->
                <!--<button class="btn submit-btn ajax-post reset" id="submit" type="submit" target-form="form-horizontal">确 定</button>-->
            <!--</div>-->
        </div>
    </div>
</div>


<footer class="footer mt-20">
    <div class="container-fluid" id="foot">
        <p>Copyright &copy; 2016-2017 www.aiyanxin.club <br>
            <a href="http://icp.chinaz.com/aiyanxin.club" target="_blank">粤ICP备17115499号-1</a>  
        </p>
    </div>
</footer>
<script type="text/javascript" src="/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script type="text/javascript" src="/plugin/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
{block name="script"}{/block}
<script>
$(function(){
//幻灯片
jQuery(".slider_main .slider").slide({mainCell: ".bd ul", titCell: ".hd li", trigger: "mouseover", effect: "leftLoop", autoPlay: true, delayTime: 700, interTime: 2000, pnLoop: true, titOnClassName: "active"})
//tips
jQuery(".slideTxtBox").slide({titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "top", autoPlay: true});
//标签
    $(".tags a").each(function(){
        var x = 9;
        var y = 0;
        var rand = parseInt(Math.random() * (x - y + 1) + y);
        $(this).addClass("tags"+rand)
    });
    
    $("img.lazyload").lazyload({failurelimit : 3});
});

$('#login').click(function(){
  // $('#modal-1').toggle();
  $('#modal-1').modal();
})

$('#register').click(function(){
    $('#modal-2').modal();
})
 // $(function () { $('#modal-1').on('hide.bs.modal', function () {
 //      alert('嘿，我听说您喜欢模态框...');})
 //   });
// $('#myModal').modal({backdrop: 'static', keyboard: true});
// 直接提交时赋值false；
    flag=false;
    //用户名验证
    $("#username").focus(function(){
        //清除span
        $(this).next('span').remove();
        if($(this).val()==null){
          //1.获取焦点的提示信息
          $("<span>请输入正确的信息</span>").css('color','red').insertAfter($(this));
          flag=false;
        }else{
          flag=false;
        }        
    }).blur(function(){
        

        //2.失去焦点 获取用户值 正则的判断
        //获取用户值
        s=$(this);
        //清除
        s.next('span').remove();
        ss=s.val();
        // alert(ss);
        //匹配正则
        if(ss.match(/^\w{4,16}$/)==null){
            // alert('此用户不符合正则');
            $("<span>请输入4-16位任意的数字字母下划线</span>").css('color','red').insertAfter(s);
            flag=false;
        }else{
            //3.Ajax的验证
            $.get("{:url('home/user/ajax')}",{username:ss},function(data){
                // alert(data);
                //判断
                if(data==1){
                    $(this).next('span').remove();
                    $("<span>此用户已经存在</span>").css('color','red').insertAfter(s);
                        flag=false;
                }else{
                    $(this).next('span').remove();
                    $("<span>此用户可用</span>").css('color','green').insertAfter(s);
                      flag=true;
                }
            });
        }
    });

    //昵称验证
    $(".user_name").click(function(){
         //清除span
        $(this).next('span').remove();
    }).blur(function(){
        name = $(this).val();
        if(name == ''){
            $("<span>请输入昵称</span>").css('color','red').insertAfter(e);
        }
    })

    //邮箱验证
    $("#email").focus(function(){
        //清除span
        $(this).next('span').remove();
        if($(this).val()==null){
          //1.获取焦点的提示信息
          $("<span>请输入邮箱</span>").css('color','red').insertAfter($(this));
            flag=false;
        }else{
            flag=false;
        }              
      }).blur(function(){
         e=$(this);
          //清除
          e.next('span').remove();
          ee=e.val();
          // 邮箱规则
          var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
          if(!myreg.test(ee))
          {
            $(this).next('span').remove();
            $("<span>邮箱名不符合规则</span>").css('color','red').insertAfter(e);
            flag=true;
         }else{
              //Ajax的验证
              $.get("{:url('home/user/ajax')}",{email:ee},function(data){
                  // alert(data);
                  //判断
                  if(data==1){
                      $(this).next('span').remove();
                      $("<span>此邮箱已存在</span>").css('color','red').insertAfter(e);
                        flag=false;
                  }else{
                      $(this).next('span').remove();
                      $("<span>该邮箱可用</span>").css('color','green').insertAfter(e);
                        flag=true;
                  }
              });          
          }              
      });

   // 密码验证
    $("#password").focus(function(){
        //清除span
        $(this).next('span').remove();
        //1.获取焦点的提示信息
        $("<span>请设定密码</span>").css('color','red').insertAfter($(this));
    }).blur(function(){
        //2.失去焦点 获取用户值 正则的判断
        //获取用户值
        s=$("#password");
        //清除
        s.next('span').remove();
        ss=s.val();
        // alert(ss);
        //匹配正则
        if(ss.match(/^\w{6,16}$/)==null){
            // alert('此用户不符合正则');
            $("<span>请输入6-16位字符，可使用数字字母及下划线的组合</span>").css('color','red').insertAfter(s);
        }else{
            // 确认密码
            $("#confirm_password").click(function(){
                $(this).next('span').remove();                
            }).blur(function(){
                repwd=$(this).val();
                if(repwd!=ss){
                  $(this).next('span').remove();
                  $("<span>两次密码不一致</span>").css('color','red').insertAfter($(this));
                    flag=false;
                }
            });            
        }
    });

    // 确认密码的判断
    $("#confirm_password").click(function(){
        $(this).next('span').remove();                
    }).blur(function(){
        repwd=$(this).val();
        ss=$("#password").val();
        if(repwd!=ss){
          $(this).next('span').remove();
          $("<span>两次密码不一致</span>").css('color','red').insertAfter($(this));
            flag=false;
        }
    });

    //电话验证
    $(".phone").click(function(){
        $(this).next('span').remove(); 
        
    }).blur(function(){
        phone = $(this).val();
        reg = /^1[34578]\d{9}$/;
        if(!reg.test(phone)){
            $("<span>请输入正确的电话号码</span>").css('color','red').insertAfter($(this));
            flag=false;
        }
    })

    // 判断空值
    if($("#username").val()==null || $("#password").val()==null || $("#confirm_password").val()==null || $("#email").val()==null || ($("input:radio").attr('checked') === undefined) ){
      flag==false;
    }

    // if($("input:radio").attr('checked') === undefined ){
    //   alert($("input:radio").attr('checked'));
    // }
    //4.表单提交
    $(".register").submit(function(){
        // alert('ssss');
        // return false;
        if(!flag){
               return false;
        }else{
               return true;
        }
    });

    $(".ajax-post").click(function(){
        url = $(this).parents('form').attr('action');
        target_form = $(this).attr('target-form');
        form = $('.'+target_form);
        query = form.serialize();
        // alert(query);return;
        $.post(url,query,function(data){
            if(data.code == 1){
                layer.alert(data.msg,{icon:6});
                window.location.href = data.url;
            }else{
                layer.alert(data.msg,{icon:5});
            }
        },'json')
    })
</script> 

</body>
</html>
