{extend name="index/index"/}
{block name="index"}
  <div class="widget-head-color-box navy-bg p-lg text-center"> 
   <div class="m-b-md"> 
    <h1 class="font-bold no-margins">后台管理主页 </h1> 
    <small></small> 
   </div> 
	
   <div> 
    <span><a href="__MODULE__/User/index">用户列表</a></span> |
    <span><a href="__MODULE__/Goods/index">商品列表</a></span> |
    <span><a href="__MODULE__/Order/index">订单列表</a></span> 
   </div> 
  </div>

  <div class="contact-box" style=""> 
   <a href=""> 
    <div class="col-sm-4"> 
     <div class="text-center"> 
      <img src="" style="width:100px;height:100px" style="width:100px" alt="">
     </div> 
    </div></a>
   <div class="col-sm-8">
   <h3><strong></strong></h3> <p><i class="fa fa-map-marker"></i> 超级管理员</p>
    <address> E-mail:<br /><abbr title="Phone">电话:</abbr><br /> <br /><a href="__ROOT__/index.php/Home/index"><strong>欢迎thinkphp！</strong> </a></address>
   </div>
   <div class="clearfix"></div>
   <a href="__MODULE__/login/logout" class="btn btn-primary btn-lg" style="position:relative;left:160px">退出后台管理</a> 
  </div>   
{/block}
{block name="title"}后台首页{/block}