<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>新增角色</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/today-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/add.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
</head>
<body>
<!-- <form action="{:url('addDineshop')}" method="post" multipart/form-data> -->
	<div class="today-title">
		<div class="title-1"><h3>添加角色</h3></div>
	</div>
	<div class="input-names">
		<div class="input-name">角色名称</div>
		<div class="input-text"><input type="text" class="shuru" name="name" value="{notempty name='$info'}{$info.shopname}{/notempty}" placeholder="角色名称"></div>
	</div>
	<div class="input-miaoshu">
		<div class="input-name">角色描述</div>
		<div class="input-text"><textarea name="describle" class="shuru" id="address">{notempty name='$info'}{$info.address}{/notempty}</textarea></div>
	</div>
	

	<hr style="border:1px solid black;">
	<div class="input-names">
		<div class="input-name input-foot"><input type="submit" value="返回" class="back" style="width:15%;height:30px;background:white;border:1px solid rgb(45,44,65);float:left;" onclick="history.go(-1)"><a href="javascript:void(0)" class="submit" style="width:15%;height:30px;background:rgb(45,44,65);border:1px solid rgb(45,44,65);color:white;float:right;text-align:center;">提交</a></div>
		<input type="hidden" name="sid" value="{notempty name='$info'}{$info.id}{/notempty}{empty name='$info'}0{/empty}">
	</div>
<!-- </form> -->
<!-- <script type="text/javascript" src="__LOCAL__/js/md-add.js"></script> -->
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
</body>
<script>
	$(".submit").click(function(){
		url = "{:url('addRole')}";
		name = $("input[name='name']").val();
		describle = $("textarea[name='describle']").val();
		
		$.post(url,{name:name,describle:describle},function(data)
		{
			// alert(data);
			if(data != '添加成功'){
				alert(data);
			}
			if(data == '添加成功'){
				alert(data);
				window.location.href = "{:url('showrole')}";
			}
		});
	})

	// 
</script>

</html>