<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>用户管理</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/advance-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
</head>
<body>
<div class="today-title">
	<div class="title-1"><h3>用户管理</h3></div>
</div>
<div class="today-search">
	<button type="button" class="btn btn-large btn-primary disabled" disabled="disabled" style="height:40px;margin-top:-10px;float:right;margin-right:20px;">新增</button>
</div>
<div class="today-table">
		<!-- 遮罩start -->
			<div class="body-box">
		<!-- 遮罩stop -->
			</div>
	<table class="table table-bordered" id="tablePage" style="float:left;">
		<tr id="table-title">
			<td>序号</td>
			<td>用户名</td>
			<td>真实姓名</td>
			<td>添加时间</td>
			<td>操作</td>
		</tr>
		{volist name='list' id='vo'}
		<tr>
			<td>{++$key}</td>
			<td>{$vo.username}</td>
			<td>{$vo.realname}</td>
			<td>{$sta[$vo.userstatus]}</td>
			<td><a href="{:url('updateUserInfo')}?uid={$vo.uid}&name={$vo.username}">角色分配</a></td>
		</tr>
		{/volist}
	</table>
</div>
<div class="today-page">
	<div class="pagination pagination-large">
	<div id="number"><input id="countnum" min="10" max="50" type="number" value="50" style="width:32px;height:35px;" onBlur="count()"></div>
	  <ul id="page">
	  	
	  </ul>
	<div id="number-show"><span>共180条。每页显示50条</span></div>
	</div>
</div>
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/table-page.js"></script>
<script type="text/javascript" src="__LOCAL__/js/advance-list.js"></script>
<script type="text/javascript">

</script>
</body>
</html>