<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>新增角色</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/today-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/add.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
</head>
<body>
<!-- <form action="{:url('addDineshop')}" method="post" multipart/form-data> -->
	<div class="today-title">
		<div class="title-1"><h3>为-{$name}-添加权限</h3></div>
	</div>
<div style="clear:both;"></div>
	<input type="hidden" name="rid" value="{$rid}">
	
	<div class="checkbox" style="padding-left:150px;margin-top:50px;" >
	{volist name="list" id="vo"} 
			<div style="float:left;width:500px;margin:5px;">
			  <label>
			    <input type="checkbox" name="mid" value="{$vo.mid}" {if condition="in_array($vo.mid,$mid)"} checked{/if}>
			    {$vo.modulename}
			  </label>
		  	</div>
	{/volist}
	</div>

	<div style="clear:both;width:10px;height:10px;"></div>
	<hr style="border:1px solid black;">
	<div class="input-names">
		<div class="input-name input-foot"><input type="submit" value="返回" class="back" style="width:15%;height:30px;background:white;border:1px solid rgb(45,44,65);float:left;" onclick="history.go(-1)"><a href="javascript:void(0)" class="submit" style="width:15%;height:30px;background:rgb(45,44,65);border:1px solid rgb(45,44,65);color:white;float:right;text-align:center;">提交</a></div>
		<input type="hidden" name="sid" value="{notempty name='$info'}{$info.id}{/notempty}{empty name='$info'}0{/empty}">
	</div>
<!-- </form> -->
<!-- <script type="text/javascript" src="__LOCAL__/js/md-add.js"></script> -->
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
</body>
<script>
	$(".submit").click(function(){
		url = "{:url('roleAddModule')}";
		mid = $("input:checkbox[name='mid']:checked").map(function(index,elem) {
            return $(elem).val();
        }).get().join(',');
        rid = $('input[name=rid]').val();
		$.post(url,{mid:mid,rid:rid},function(data)
		{
			// alert(data);
			if(data != '分配成功'){
				alert(data);
			}
			if(data == '分配成功'){
				alert(data);
				window.location.href = "{:url('roleAddModule')}?rid={$rid}&name={$name}";
			}
		});
	});

</script>

</html>