{extend name="Public/public"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__LOCAL__/css/today-list.min.css">
<link rel="stylesheet" type="text/css" href="__LOCAL__/css/add.css">
	
{/block}
{block name="body"}
<div class="today-title">
	<div class="title-1"><h3>基础信息</h3></div>
</div>
<!-- <div class="input-names">
	<div class="input-name">菜肴名称</div>
	<div class="input-text"><input type="text" class="shuru" name="foodnames"></div>
</div>
<div class="input-img">
	<div class="input-name">菜肴图片</div>
	<div class="input-text">
	<div><input class="tijiao" type="file" name="icons"></div> 
	<div class="input-icons"><img src="./img/u3160.png"></div>
	</div>
</div>
<div class="input-miaoshu">
	<div class="input-name">菜肴描述</div>
	<div class="input-text"><textarea name="miaoshu" class="shuru"></textarea></div>
</div> -->
<form action="{:url('Classify/addClassify')}" method="post">
	<div class="input-img">
		<div class="input-name">一级分类</div>
		<div class="input-text">
		<div class="cwf" id="kouwei"><input  type="text" class="yiji" name="yiji[]" placeholder="可不填"></div>
		<div class="input-icons"><a href="javascript:addyiji(this)">+添加多个分类</a></div>
		</div>
	</div>
	<div class="input-img">
		<div class="input-name">二级分类</div>
		<div class="input-text">
		<div class="cwf" id="kouweii"><input  type="text" class="erji" name="erji[]" placeholder="可不填"></div>
		<div class="input-icons"><a href="javascript:adderji(this)">+添加多个分类</a></div>
		</div>
	</div>
	<!-- <div class="input-img">
		<div class="input-name">可否外卖</div>
		<div class="input-text">
		<div><input class="tijiao" type="radio" name="waimai">是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="tijiao" type="radio" name="waimai">否</div>
		<div class="input-icons wmf">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="wmf" placeholder="外卖费">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元 / 人</div>
		</div>
	</div> -->
	<!-- <div class="input-img">
		<div class="input-name">所属区域</div>
		<div class="input-text">
			<select name="" id="area">
				<option value="0">北京</option>
				<option value="1">上海</option>
				<option value="2">广州</option>
				<option value="3">深圳</option>
			</select>

			<select name="" id="city">
				<option value="">请选择</option>
			</select>
			<select name="" id="son">
				<option value="">请选择</option>
			</select>
		</div>
	</div> -->
	<!-- <div class="input-miaoshu">
		<div class="input-name">详细地址</div>
		<div class="input-text"><textarea name="address" class="shuru"></textarea></div>
	</div> -->
	<!-- <div class="input-img">
		<div class="input-name">菜肴分类</div>
		<div class="input-text">
			<select name="type1" id="time1">
				<option value="0">一级分类</option>
			</select>
			<select name="type2" id="time2">
				<option value="0">二级分类</option>

			</select>
		</div>
	</div>
	<div class="input-img">
		<div class="input-name">所属店铺</div>
		<div class="input-text">
			<select name="shangjia" id="time1">
				<option value="0">一级分类</option>
				<option value="1">2:00</option>
				<option value="2">3:00</option>
				<option value="3">4:00</option>
			</select>
	</div>
	<div class="input-img">
		<div class="input-name">价格</div>
		<div class="input-text">
		<div class="phone"><input  type="text" name="price"></div>
		</div>
	</div> -->
	<!-- <div class="input-img" style="padding-bottom:20px">
		<div class="input-name">店铺图标</div>
		<div class="input-text">
		<div><input class="tijiao" type="file" name="images"></div>
		<div class="input-icons"><img src="./img/u3160.png"></div>
		</div>
	</div> -->
	<hr style="border:1px solid black;">
	<div class="input-names">
		<div class="input-name input-foot"><input type="submit" value="返回" class="back" style="width:15%;height:30px;background:white;border:1px solid rgb(45,44,65);float:left;" onclick="history.go(-1)"><input type="submit" class="submit" value="提交" style="width:15%;height:30px;background:rgb(45,44,65);border:1px solid rgb(45,44,65);color:white;float:right;"></div>
	</div>
</form>
{/block}
{block name="bootscript"}
	<script type="text/javascript">
	function addyiji(){
		var changdu = document.getElementsByClassName("yiji").length+1;
		var kouwei = document.getElementById("kouwei");
		var input = document.createElement('input');
		input.setAttribute('type','text');
		input.setAttribute('class','yiji');
		input.setAttribute('name','yiji[]');
		kouwei.appendChild(input);
	}
	function adderji(){
		var changdu = document.getElementsByClassName("erji").length+1;
		var kouweii = document.getElementById("kouweii");
		var input = document.createElement('input');
		input.setAttribute('type','text');
		input.setAttribute('class','erji');
		input.setAttribute('name','erji[]');
		kouweii.appendChild(input);
	}
</script>
{/block}