{extend name="index/base" /}
{block name="style"}
	
{/block}
{block name="body"}
<nav class="breadcrumb">
  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('index/index/index')}" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">个人信息</span> <span class="c-gray en">&gt;</span>  <span class="c-gray">修改账户密码</span></div>
</nav>
	<section class="container" style="margin-bottom:45%">
	    <div class="container-fluid">
	        <div class="about">
	            <div class="tab-content">
	            	<a href="{:url('center')}" class="btn">修改信息</a>
	            	<a href="{:url('password')}" class="btn">修改密码</a>
				<!-- 修改密码表单 -->
				<form action="{:url('password')}" method="post" class="form-horizontal">
					<!-- <div class="form-item">
						<label class="item-label">密码：<span class="check-tips">（请输入密码）</span></label>
						<div class="controls">
							<input type="password" name="password" class="text input-large"  autocomplete="off"/>
						</div>
					</div> -->
					

			        <div class="input-group col-sm-12" style="margin-top:30px">
						<div class="col-sm-2">
							<label class="item-label">原密码：</label>
						</div>
						<input type="password" name="originpsw" id="" class="text input-large form-control">
					</div>
			        <div class="form-group-separator"></div>

			        <div class="input-group col-sm-12">
						<div class="col-sm-2">
							<label class="item-label">新密码：</label>
						</div>
						<input type="password" name="newpsw" id="" class="text input-large form-control">
					</div>

			        <div class="form-group-separator"></div>
					
					<div class="input-group col-sm-12">
						<div class="col-sm-2">
							<label class="item-label">确认新密码：</label>
						</div>
						<input type="password" name="confirmpsw" id="" class="text input-large form-control">
					</div>

			        <div class="form-group-separator"></div>
					<div class="input-group col-sm-12">
						<div class="form-item">
							<a class="btn submit-btn ajax-post reset" target-form="form-horizontal">确 认</a>
						</div>
					</div>
				</form>
				</div>
	        </div>

	    </div>
	</section>
{/block}
{block name="script"}
	<script>

	</script>
{/block}