<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/bootstrap-responsive.css">
</head>
<frameset rows="8%,92%">
<noframes>

<body>

很抱歉，您使用的浏览器不支持框架功能，请采用新版本的浏览器。

</body>

</noframes>
  <frame src="head.html" noresize="noresize" frameborder="0" framspacing="0" scrolling="no" name="head" />
  <frameset cols="15%,85%">
	  <frame src="menu.html" noresize="noresize" frameborder="0" framspacing="0" name="menu" />
	  <frame src="main.html" noresize="noresize" frameborder="0" framspacing="0" name="main" />
  </frameset>
</frameset>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
</html>