<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CSS3垂直手风琴折叠菜单DEMO演示</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Iconos -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__LOCAL__/css/admin-menu.css" media="screen" type="text/css" />
    
</head>
<body>
<div style="text-align:center;clear:both">
</div>
	<!-- Contenedor -->
	<ul id="accordion" class="accordion">
		<li>
			<div class="link"><i class="fa fa-paint-brush"></i>门店管理<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">

				<li><a href="{:url('admin/Shop/getDineshopList')}" target="main">门店列表</a></li>

			</ul>
		</li>
		<li>
			<div class="link"><i class="fa fa-paint-brush"></i>订单管理<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				
				<li>
					<a href="{:url('admin/Order/getOrderlist')}" target="main">预售列表</a><ul class="submenu-list">
						<li><span><a href="{:url('admin/Order/getFood')}" target="main">预售菜品统计</a></span></li>
						<li><span><a href="{:url('admin/Order/getTime')}" target="main">时间段预售菜品</a></span></li>
					</ul>
				</li>
				<li><a href="{:url('admin/Order/getTakeOut')}" target="main">外卖列表</a></li>
			</ul>
		</li>
		<li>
			<div class="link"><i class="fa fa-paint-brush"></i>资金管理<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="{:url('admin/Deposit/index')}" target="main">押金/余额</a></li>
				<li><a href="{:url('admin/Deposit/income')}" target="main">门店收益金</a></li>
			</ul>
		</li>
		<li>
			<div class="link"><i class="fa fa-paint-brush"></i>用户管理<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="{:url('admin/User/getRegUserList')}" target="main">用户管理</a></li>
			</ul>
		</li>
		<li>
			<div class="link"><i class="fa fa-paint-brush"></i>权限管理<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="{:url('admin/Jurisdiction/index')}" target="main">查看模块</a></li>
				<li><a href="{:url('admin/Jurisdiction/showRole')}" target="main">角色管理</a></li>
				<!-- <li><a href="{:url('admin/User/getRegUserList')}" target="main">权限操作</a></li> -->
				<li><a href="{:url('admin/Jurisdiction/showAdminList')}" target="main">用户角色分配</a></li>
			</ul>
		</li>
		<li>
			<div class="link"><i class="fa fa-paint-brush"></i>推送管理<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="{:url('admin/push/index')}" target="main">推送文章列表</a></li>
				<li><a href="{:url('admin/push/add')}" target="main">推送文章添加</a></li>
				<!-- <li><a href="{:url('admin/User/getRegUserList')}" target="main">权限操作</a></li> -->
			</ul>
		</li>
		<li>
			<div class="link"><i class="fa fa-paint-brush"></i>客户流水管理<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="{:url('admin/User/paylog')}" target="main">流水列表</a></li>
			</ul>
		</li>
	</ul>

</body>
<script src='__LOCAL__/js/jquery-2.0.2.min.js'></script>
<script src="__LOCAL__/js/admin-menu.js"></script>
</html>