<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>查看记录</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/today-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/food-gl.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/daterangepicker-bs3.css">
	
</head>
<body>
<div class="today-title">
	<div class="title-1"><h3>查看记录</h3></div>
</div>
<div class="today-search">
    <button type="button" class="btn btn-large btn-primary disabled" style="height:40px;margin-top:-10px;float:right;margin-right:20px;" onclick="javascript:history.go(-1)">返回</button>
</div>
<div class="today-table">
	<table class="table table-bordered" id="tablePage" style="float:left;">
		<tr id="table-title">
			<td>序号</td>
            <td>姓名</td>
            <td>充值金額</td>
            <td>充值类型</td>
            <td>充值渠道</td>
            <td>充值账号</td>
            <td>成功时间</td>
		</tr>
		{volist name="list" id="vo"  empty="$empty"}
		<tr>
			<td>{++$key}</td>
            <td>{$vo.f_realname}</td>
            <td>{$vo.f_paymoney}</td>
            <td>{$paytype[$vo.f_paytype]}</td>
            <td>{$channel[$vo.f_channel]}</td>
            <td>{$vo.f_account}</td>
            <td>{$vo.f_suctime}</td>
		</tr>
		{/volist}
        {/if}
	</table>
</div>
<div class="today-page">
	<div class="pagination pagination-large">
	<div id="number"><input id="countnum" min="10" max="50" type="number" value="50" style="width:32px;height:35px;" onBlur="count()"></div>
	  <ul id="page">
	  	
	  </ul>
	<div id="number-show"><span>共180条。每页显示50条</span></div>
	</div>
</div>

<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<!-- <script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script> -->
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/table-page.js"></script>
<script type="text/javascript" src="__LOCAL__/js/moment.js"></script>
<script type="text/javascript" src="__LOCAL__/js/daterangepicker.js"></script>

</body>
<script>
	$('#datetime').daterangepicker({
        // startDate: moment().startOf('day'),
        //endDate: moment(),
        //minDate: '01/01/2012',    //最小时间

        maxDate: moment(), //最大时间
        dateLimit: {
            days: 300
        }, //起止时间的最大间隔
        showDropdowns: true,
        showWeekNumbers: false, //是否显示第几周
        timePicker: false, //是否显示小时和分钟
        timePickerIncrement: 60, //时间的增量，单位为分钟
        timePicker12Hour: false, //是否使用12小时制来显示时间

        ranges: {
            '今日': [moment().startOf('day'), moment()],  
            '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', -1).endOf('day')],  
            '最近7日': [moment().subtract('days', 6), moment()],  
            '最近30日': [moment().subtract('days', 29), moment()]
        },
        opens: 'left', //日期选择框的弹出位置
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary blue',
        cancelClass: 'btn-small',
        format: 'YYYY-MM-DD', //控件中from和to 显示的日期格式
        separator: ' to ',
        locale: {
            applyLabel: '确定',
            cancelLabel: '取消',
            fromLabel: '起始时间',
            toLabel: '结束时间',
            customRangeLabel: '自定义',
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月'],
            firstDay: 1
        }
    },
    function(start, end, label) {
        $('#reportrange span').html(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
    });
</script>
</html>