<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>新增商家</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/today-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/add.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/webuploader/webuploader.css">
	<style>
		.submit:hover{
			text-decoration:none;
		}
	</style>

</head>
<body>
<!-- <form action="{:url('addDineshop')}" method="post" multipart/form-data> -->
	<div class="today-title">
		<div class="title-1"><h3>基础信息</h3></div>
	</div>
	<div class="input-names">
		<div class="input-name">店铺名称</div>
		<div class="input-text"><input type="text" class="shuru" name="shopname" value="{notempty name='$info'}{$info.shopname}{/notempty}"></div>
	</div>
	<div class="input-img">
		<div class="input-name">店铺图标</div>
			<div class="input-text">
			<!-- <div><input class="tijiao" type="file" name="icon"></div> 
			<div class="input-icons"><img src="__LOCAL__/img/u3160.png"></div> -->
			<div id="fileList" class="uploader-list"></div>
		    <div id="filePicker">选择图片</div>
		</div>
	</div>
	<div class="input-names">
		<div class="input-name">店铺菜系</div>
		<!-- <div class="input-text"><input type="text" class="shuru" name="cuisineid" value="{notempty name='$info'}{$info.cuisineid}{/notempty}"></div> -->
		<div class="input-text">
			<select name="cuisineid" id="">
				{volist name="list" id="vo"}
				<option value="{$vo.cid}" {notempty name="$info"}{eq name="vo.cid" value="info.cuisineid"}selected{/eq}{/notempty}>{$vo.cname}</option>
				{/volist}
			</select>
		</div>
	</div>
	<div class="input-names">
		<div class="input-name">是否为推荐门店</div>
		<div class="input-text"><input type="radio" name="isrecom" value="1">是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="isrecom" value="2">否</div>
	</div>
	<div class="input-miaoshu">
		<div class="input-name">店铺描述</div>
		<div class="input-text"><textarea name="shopdesc" class="shuru" id="miaoshu">{notempty name='$info'}{$info.shopdesc}{/notempty}</textarea></div>
	</div>
	<div class="input-names">
		<div class="input-name">餐位费</div>
		<div class="input-text"><div class="input-icons wmf"><input type="text" name="servicecharge"  value="{notempty name='$info'}{$info.servicecharge}{/notempty}" placeholder="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元 / 人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
	</div>
	<div class="input-img">
		<div class="input-name">可否预定</div>
		<div class="input-text">
		<div><input class="tijiao" type="radio" name="isbooking" id="yes" value="1">是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="tijiao" type="radio" name="isbooking" id="no" value="0">否</div>
		</div>
	</div>
	<div class="input-img">
		<div class="input-name">可否外卖</div>
		<div class="input-text">
		<div><input class="tijiao" type="radio" name="isaway" id="yes" value="1">是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="tijiao" type="radio" name="isaway" id="no" value="0">否</div>
		<div class="input-icons wmf soso">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="deliveryfee" placeholder="配送费" value="{notempty name='$info'}{$info.deliverytime}{/notempty}" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;元 / 人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</div>
	</div>
	<div class="input-miaoshu">
		<div class="input-name">详细地址</div>
		<div class="input-text"><textarea name="address" class="shuru" id="address">{notempty name='$info'}{$info.address}{/notempty}</textarea></div>
	</div>
	
	<div class="input-img">
	<div class="input-name">营业时间</div>
	<div class="input-text">
		<select name="time1" id="time1">
			<option value="0:00">0:00</option>
			<option value="1:00">1:00</option>
			<option value="2:00">2:00</option>
			<option value="3:00">3:00</option>
			<option value="4:00">4:00</option>
			<option value="5:00">5:00</option>
			<option value="6:00">6:00</option>
			<option value="7:00">7:00</option>
			<option value="8:00">8:00</option>
			<option value="9:00">9:00</option>
			<option value="10:00">10:00</option>
			<option value="11:00">11:00</option>
			<option value="12:00">12:00</option>
			<option value="13:00">13:00</option>
			<option value="14:00">14:00</option>
			<option value="15:00">15:00</option>
			<option value="16:00">16:00</option>
			<option value="17:00">17:00</option>
			<option value="18:00">18:00</option>
			<option value="19:00">19:00</option>
			<option value="20:00">20:00</option>
			<option value="21:00">21:00</option>
			<option value="22:00">22:00</option>
			<option value="23:00">23:00</option>
		</select>
		至
		<select name="time2" id="time2">
			<option value="0:00">0:00</option>
			<option value="1:00">1:00</option>
			<option value="2:00">2:00</option>
			<option value="3:00">3:00</option>
			<option value="4:00">4:00</option>
			<option value="5:00">5:00</option>
			<option value="6:00">6:00</option>
			<option value="7:00">7:00</option>
			<option value="8:00">8:00</option>
			<option value="9:00">9:00</option>
			<option value="10:00">10:00</option>
			<option value="11:00">11:00</option>
			<option value="12:00">12:00</option>
			<option value="13:00">13:00</option>
			<option value="14:00">14:00</option>
			<option value="15:00">15:00</option>
			<option value="16:00">16:00</option>
			<option value="17:00">17:00</option>
			<option value="18:00">18:00</option>
			<option value="19:00">19:00</option>
			<option value="20:00">20:00</option>
			<option value="21:00">21:00</option>
			<option value="22:00">22:00</option>
			<option value="23:00">23:00</option>
		</select>
	</div>
</div>
	<div class="input-names">
		<div class="input-name">联系电话</div>
		<div class="input-text"><input type="text" class="shuru" name="shophone" value="{notempty name='$info'}{$info.shophone}{/notempty}" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></div>
	</div>
	<hr style="border:1px solid black;">
	<div class="input-names">
		<div class="input-name input-foot"><input type="submit" value="返回" class="back" style="width:15%;height:30px;background:white;border:1px solid rgb(45,44,65);float:left;" onclick="history.go(-1)"><a href="javascript:void(0)" class="submit" style="width:15%;height:30px;background:rgb(45,44,65);border:1px solid rgb(45,44,65);color:white;float:right;text-align:center;">提交</a></div>
		<input type="hidden" name="sid" value="{notempty name='$info'}{$info.id}{/notempty}{empty name='$info'}0{/empty}">
	</div>
<!-- </form> -->
<!-- <script type="text/javascript" src="__LOCAL__/js/md-add.js"></script> -->
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/webuploader/webuploader.js"></script>
</body>
<script>
	var $list=$("#fileList");
    var thumbnailWidth = 100;
    var thumbnailHeight = 100;
    var uploader = WebUploader.create({
        auto: true,
        fileNumLimit : 10,
        server: "{:url('Upload/images')}",
        pick: '#filePicker',
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

    uploader.on( 'fileQueued', function( file ) {
        // layer.msg(file.id)
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name + '</div>' +
                '</div>'
                //'<div class="img_li col-sm-6"><a class="del_span" href="javascript:;" onclick="delimg(this)">删除</a><img class="viewer-item" width="200px" style="padding:5px;box-shadow: 0 0 3px #999;margin: 2px;"/></div>'
            ),
            $img = $li.find('img');
        $list.html( $li );
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }
            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });
    uploader.on( 'uploadSuccess', function( file,response){
        console.log(response);
        if (response.code==1){
            $('#filePicker').append('<input type="hidden" name="shopicon" value="'+response.info.imgpath+'">')
            //$('#filePicker').append('<input id="img_input" type="hidden" name="img" value="'+response.url+'">')
        }
    });

	$(".submit").click(function(){
		url = "{:url('addDineshop')}";
		shopid = $("input[name='sid']").val();
		shopname = $("input[name='shopname']").val();
		shopicon = $("input[name='shopicon']").val();
		shopdesc = $("#miaoshu").val();
		isrecom  = $("input[name='isrecom']:checked").val();
		isbooking = $("input[name='isbooking']:checked").val();
		// alert(tuijian);
		console.log(shopdesc);
		shophone = $("input[name='shophone']").val();
		isaway = $("input[name='isaway']").val();
		address = $("#address").val();
		console.log(address);
		time1 = $("select[name='time1']").val();
		time2 = $("select[name='time2']").val();
		servicecharge = $("input[name='servicecharge']").val();
		cuisineid = $("select[name='cuisineid']").val();
		deliveryfee = $("input[name='deliveryfee']").val();
		$.post(url,{shopid:shopid,isrecom:isrecom,shopname:shopname,shopicon:shopicon,shopdesc:shopdesc,shophone:shophone,isaway:isaway,address:address,time1:time1,time2:time2,isbooking:isbooking,servicecharge:servicecharge,cuisineid:cuisineid},function(data){

			if(data != '操作成功'){
				alert(data);
			}
			if(data == '操作成功'){
				alert(data);
				window.location.href = "{:url('getDineshopList')}";
			}
		});
	})

	$("#yes").click(function(){
		soso = $(".soso");
		if(soso.css('display') == 'none'){
			soso.toggle();
		}
	})
	$("#no").click(function(){
		soso = $(".soso");
		if(soso.css('display') == 'block'){
			soso.toggle();
		}
	})
</script>

</html>