<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>菜肴添加</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/today-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/add.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/webuploader/webuploader.css">
	<style>
		.submit:hover{
			text-decoration:none;
		}
	</style>

</head>
<body>
<div class="today-title">
	<div class="title-1"><h3>基础信息</h3></div>
	<input type="hidden" name="sid" value="{$shopid}">
	<input type="hidden" name="id" value="{$info.f_id}">
	<!-- <input type="hidden" name="adduser" value="<?php echo $_SESSION['think']['uid'];?>"> -->
</div>
<div class="input-names">
	<div class="input-name">桌型名称</div>
	<div class="input-text"><input type="text" class="shuru" name="deskid" value="{$info.f_deskid}"></div>
</div>

<div class="input-img">
	<div class="input-name">可坐人数</div>
	<div class="input-text">
	<div class="phone"><input  type="text" name="seatnum" value="{$info.f_seatnum}" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></div>
	</div>
</div>
<div class="input-img">
	<div class="input-name">桌型数量</div>
	<div class="input-text">
	<div class="phone"><input  type="text" name="desknum" value="{$info.f_amount}" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></div>
	</div>
</div>

<hr style="border:1px solid black;">
<div class="input-names">
	<div class="input-name input-foot"><input type="submit" value="返回" class="back" style="width:15%;height:30px;background:white;border:1px solid rgb(45,44,65);float:left;" onclick="history.go(-1)"><a href="javascript:void(0)"  class="submit" style="width:15%;height:30px;background:rgb(45,44,65);border:1px solid rgb(45,44,65);color:white;float:right;text-align:center">提交</a></div>
</div>
<!-- <script type="text/javascript" src="js/md-add.js"></script> -->
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/webuploader/webuploader.js"></script>
</body>
<script type="text/javascript">
	function addkouwei(){
		var changdu = document.getElementsByClassName("kouwei").length+1;
		var kouwei = document.getElementById("kouwei");
		var input = document.createElement('input');
		input.setAttribute('type','text');
		input.setAttribute('class','kouwei');
		input.setAttribute('name','kouwei'+changdu);
		kouwei.appendChild(input);
	}


        $(".submit").click(function(){
        	url = "{:url('editDesk')}";
        	id = $("input[name='id']").val();
        	shopid = $("input[name='sid']").val();
        	deskid = $("input[name='deskid']").val();
        	seatnum = $("input[name='seatnum']").val();
        	desknum = $("input[name='desknum']").val();

        	$.post(url,{id:id,shopid:shopid,deskid:deskid,seatnum:seatnum,desknum:desknum},function(data){
        		if(data.code == -1){
        			alert(data.msg);
        		}else{
        			alert(data.msg);
        			window.location.href = "{:url('getDesklist?shopid='.$shopid)}";
        		}
        	})
        })
</script>
</html>