<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>today-list门店列表</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/today-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/advance-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/food-gl.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
</head>
<body>
<!-- 模态框（Modal） -->
<div class="modal fade" style="display:none" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<form action="{:url('addDiscountTimeslot?shopid='.$shopid)}" method="post">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title" id="myModalLabel">编辑时间段</h4>
	            </div>
	            <div class="modal-body">
	            	{volist name="list" id="vo"}
	            	<div style="border-bottom:1px solid #DDD;width:100%;height:30px;text-height:15px">
	            		<span style="margin-left:150px">{$vo.timeslot}</span>
	            		<!-- <input type="hidden" name="timeid" value="{$vo.slotid}"> -->
	            		<a href="{:url('delDiscountTimeslot?shopid='.$shopid.'&timeid='.$vo.slotid)}" style="margin-left:150px">删除</a>
	            	</div>
	        		{/volist}
	        		<div>
	        			
	        		</div>
	        		<p><a href="javascript:void(0)" id="insert" style="text-align:center">新增时间段</a></p>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	                <button type="submit" class="btn btn-primary">确定</button>
	            </div>
    		</form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="today-title">
	<div class="title-1"><h3>门店管理</h3></div>
	<div class="title-1"><h5 style="line-height: 50px;">门店：{$info.shopname}</h5></div>
</div>
<!-- 遮罩start -->
			<div class="body-box">
		<!-- 遮罩stop -->
			</div>
<div class="today-search">
	<ul>
		<li ><a href="{:url('Dishes/index?shopid='.$shopid)}">菜肴管理</a></li>
		<li><a href="{:url('Shop/getDineshopSell?shopid='.$shopid)}">放号管理</a></li>
		<li id="xz-blue"><a href="{:url('Shop/getDineshopDiscount?shopid='.$shopid)}">折扣管理</a></li>
		<li ><a href="{:url('Shop/getDesklist?shopid='.$shopid)}">桌号管理</a></li>
	</ul>
	<div class="title-2" style="float:right"><div><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">编辑时间段</a></div></div>
</div>

<div class="today-table">
	<table class="table table-bordered" id="tablePage" style="float:left;">
		<tr id="table-title">
			<td>日期\时间段</td>
			<td><?php echo date('Y-m-d')?></td>
			<td><?php echo date('Y-m-d',strtotime('+1days'))?></td>
			<td><?php echo date('Y-m-d',strtotime('+2days'))?></td>
			<td><?php echo date('Y-m-d',strtotime('+3days'))?></td>
			<td><?php echo date('Y-m-d',strtotime('+4days'))?></td>
			<td><?php echo date('Y-m-d',strtotime('+5days'))?></td>
			<td><?php echo date('Y-m-d',strtotime('+6days'))?></td>
			<!-- {volist name="discountimeslot" id="vo" key="k"}
			<td>{$vo.timeslot}</td>
			{/volist} -->
		</tr>
		
		{volist name="list" id="vo" key="k"}
		<tr>
			<!-- <td><?php echo date('Y-m-d',strtotime("+".$k."days"))?></td> -->
			<td>{$vo.timeslot}</td>
			{volist name="vo.discountdata" id="info"}
			<td>
				<div class="font-blue" style="text-align:center">查看</div>
				<div class="checkedout">
					<ul id="food-list" class="none">
						<input type="hidden" class="slotid" value="{$vo.slotid}">
						<li><h4>折扣信息</h4></li>
						<li><span style="float:left;margin-left:3%"><span class="date">{$info.date}</span> <span>{$vo.timeslot}</span></span><a href="javascript:void(0)" class="countNum edit" style="float:right;margin-right:3%">编辑</a></li>
						<form action="{:url('addDineshopDiscount?shopid='.$shopid)}" method="post">
							<table width="100%" border="1" class="table">
								<tr>
									<td>菜品名称</td>
									<td>折扣</td>
								</tr>
								<?php
									$arr = $dishlist;
									if(!empty($info['discount'])){
										foreach ($info['discount'] as $key => $val) {
											foreach ($arr as $k => $v) {
												if($val['dishid'] == $v['id']){
													unset($arr[$k]);
												}
											}
								?>
								<tr>
									<td>{$val.dishname}</td>
									<td><b>{$val.num}</b><span>折</span><input type="hidden" value="{$val.dishid}"></td>
								</tr>
								<?php
										}
										foreach ($arr as $key => $val) {
								?>
										<tr>
											<td>{$val.dishesname}</td>
											<td><b>{$val.discount*10}</b><span>折</span><input type="hidden" value="{$val.id}"></td>
										</tr>
								<?php
										}
									}else{
										foreach ($dishlist as $key => $val) {
								?>
										<tr>
											<td>{$val.dishesname}</td>
											<td><b>{$val.discount*10}</b><span>折</span><input type="hidden" value="{$val.id}"></td>
										</tr>
								<?php
										}
									}
								?>
							</table>
						</form>
						<li class="close"><div>关闭</div></li>
					</ul>
				</div>
			</td>
			{/volist}
		</tr>
		{/volist}
	</table>
</div>
<div class="today-page">
	<div class="pagination pagination-large">
	<div id="number"><input id="countnum" min="10" max="50" type="number" value="50" style="width:32px;height:35px;" onBlur="count()"></div>
	  <ul id="page">
	  	
	  </ul>
	<div id="number-show"><span>共180条。每页显示50条</span></div>
	</div>
</div>

<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<!-- <script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script> -->
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/fh-gl.js"></script>
<script type="text/javascript" src="__LOCAL__/js/table-page.js"></script>
</body>
<script>
	a = 0;
	$("#insert").click(function(){
		
		if(a == 0){
			content = '<div style="border-bottom:1px solid #DDD;width:100%;height:30px;text-height:15px">'+
					'<select name="time1" class="time1">'+
						'<option value="00:00">00:00</option>'+
						'<option value="01:00">01:00</option>'+
						'<option value="02:00">02:00</option>'+
						'<option value="03:00">03:00</option>'+
						'<option value="04:00">04:00</option>'+
						'<option value="05:00">05:00</option>'+
						'<option value="06:00">06:00</option>'+
						'<option value="07:00">07:00</option>'+
						'<option value="08:00">08:00</option>'+
						'<option value="09:00">09:00</option>'+
						'<option value="10:00">10:00</option>'+
						'<option value="11:00">11:00</option>'+
						'<option value="12:00">12:00</option>'+
						'<option value="13:00">13:00</option>'+
						'<option value="14:00">14:00</option>'+
						'<option value="15:00">15:00</option>'+
						'<option value="16:00">16:00</option>'+
						'<option value="17:00">17:00</option>'+
						'<option value="18:00">18:00</option>'+
						'<option value="19:00">19:00</option>'+
						'<option value="20:00">20:00</option>'+
						'<option value="21:00">21:00</option>'+
						'<option value="22:00">22:00</option>'+
						'<option value="23:00">23:00</option>'+
					'</select>'+
					'<span>----</span>'+
					'<select name="time2" class="time2">'+
						'<option value="00:00">00:00</option>'+
						'<option value="01:00">01:00</option>'+
						'<option value="02:00">02:00</option>'+
						'<option value="03:00">03:00</option>'+
						'<option value="04:00">04:00</option>'+
						'<option value="05:00">05:00</option>'+
						'<option value="06:00">06:00</option>'+
						'<option value="07:00">07:00</option>'+
						'<option value="08:00">08:00</option>'+
						'<option value="09:00">09:00</option>'+
						'<option value="10:00">10:00</option>'+
						'<option value="11:00">11:00</option>'+
						'<option value="12:00">12:00</option>'+
						'<option value="13:00">13:00</option>'+
						'<option value="14:00">14:00</option>'+
						'<option value="15:00">15:00</option>'+
						'<option value="16:00">16:00</option>'+
						'<option value="17:00">17:00</option>'+
						'<option value="18:00">18:00</option>'+
						'<option value="19:00">19:00</option>'+
						'<option value="20:00">20:00</option>'+
						'<option value="21:00">21:00</option>'+
						'<option value="22:00">22:00</option>'+
						'<option value="23:00">23:00</option>'+
					'</select>'+
            	'</div>';
			$(this).parent('p').prev('div').append(content);
			a = 1;
		}
		

	})

	$(".edit").click(function(){
		date = $(this).parents('tr').find('.date').html();
		// alert(date);
		time = $(this).parents('ul').find('.slotid').val();
		// alert(time);
		$(this).parents('ul').find('h4').html('修改折扣信息');
		$(this).html('');
		table = $(this).parents('ul').find('.table');

		td = $(this).parents('ul').find('.table').find('tr:not(:first)').find('td:last');
		td.each(function(index, el) {
			id = $(this).find('input').val();
			// alert(id);
			content = $(this).find('b').html();
			$(this).html("<input type='text' name='discount"+id+"' value='"+content+"'>折");
		});
		
		table.parents('form').append("<input type='hidden' value='"+date+"' name='date'><input type='hidden' value='"+time+"' name='slotid'><input type='hidden' value='{$shopid}' name='shopid'><input type='submit' value='完成' style='float:right;margin-right:30px;height:20px'>");
	})

	$(".close").click(function(){
		window.location.href = "{:url('Shop/getDineshopDiscount?shopid='.$shopid)}";
	})

</script>
</html>