<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>today-list门店列表</title>
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/today-list.css">
	<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
</head>
<body>
<div class="today-title">
	<div class="title-1"><h3>门店列表</h3></div>
	<div class="title-2"><div><a href="{:url('admin/Shop/addDineshop')}">新增</a></div></div>

</div>
<!-- <div class="today-search">
	<input type="text" name="orderId" placeholder="输入用户订单号" style="height:30px;text-align: center"/>
	<input type="text" name="orderCode" placeholder="标志码" style="height:30px;text-align: center"/>
	<button type="button" class="btn btn-large btn-primary disabled" disabled="disabled" style="height:40px;margin-top:-10px;">验证就餐</button>
</div> -->
<div class="today-table">
	<table class="table table-bordered" id="tablePage" style="float:left;">
		<tr id="table-title">
			<td>序号</td>
			<td>店铺图标</td>
			<td>店铺名称</td>
			<td>描述</td>
			<td>可否外卖</td>
			<td>联系电话</td>
			<td>详细地址</td>
			<td>营业时间</td>
			<td>商家图片</td>
			<td>操作</td>
		</tr>
		{volist name="list" id="vo"}
			<tr>
				<td>{$vo.id}</td>
				<td><img src="http://{$_SERVER['HTTP_HOST'].'/Service-master'.$vo.shopicon}" alt="" width="30px" height="30px"></td>
				<td>{$vo.shopname}</td>
				<td>{$vo.shopdesc}</td>
				<td>{switch name="vo.isaway"}
					{case value="0"}否{/case}
					{case value="1"}是{/case}
					{default /}未知
					{/switch}</td>
				<td>{$vo.shophone}</td>
				<td>{$vo.address}</td>
				<td>{$vo.opentime}</td>
				<td><img src="http://{$_SERVER['HTTP_HOST'].'/Service-master'.$vo.shopicon}" alt="" width="30px" height="30px"></td>
				<td>

					<a href="{:url('dishes/index')}?shopid={$vo.id}" class="aa">管理</a>
					<a class="aa" href="{:url('addDineshop?shopid='.$vo.id)}">修改</a>
					
						{switch name='$vo.status'}
						{case value="0"}
						<a href="javascript:void(0)" class="aa status">审核</a>
						{/case}
						{case value="1"}
						<a href="javascript:void(0)" class="aa status">审核通过</a>
						<a href="javascript:void(0)" class="aa status">审核不通过</a>
						{/case}
						{case value="100"}
						<a href="javascript:void(0)" class="aa status">下架</a>
						{/case}
						{case value="-100"}
						<a href="javascript:void(0)" class="aa status">下架</a>
						{/case}
						{case value="-300"}
						<a href="javascript:void(0)" class="aa status">重新提交审核</a>
						{/case}
						{/switch}
					
					<a href="javascript:void(0)" class="aa del">删除</a>
					<input type="hidden" name="shopid" value="{$vo.id}">

				</td>
				<input type="hidden" value="{$vo.id}">
			</tr>
		{/volist}
	</table>
</div>
<div class="today-page">
	<div class="pagination pagination-large">
	<div id="number"><input id="countnum" min="10" max="50" type="number" value="50" style="width:32px;height:35px;" onBlur="count()"></div>
	  <ul id="page">
	  	
	  </ul>
	<div id="number-show"><span>共180条。每页显示50条</span></div>
	</div>
</div>
<script type="text/javascript" src="__LOCAL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__LOCAL__/js/table-page.js"></script>
</body>
<script>
	$(".del").click(function(){
		
		if(confirm('您确定删除吗？')){
			shopid = $(this).next().val();
			tr = $(this).parents('tr');
			$.post("{:url('delshop')}",{shopid,shopid},function(data){
				if(data == '操作成功'){
					alert(data);
					tr.remove();
				}else{
					alert(data);
				}
			});
		}
	})

	$(".status").click(function(){
		if(confirm('您确定修改状态吗？')){
			shopid = $(this).parent('td').next().val();
			key = $(this).html();
			$.post("{:url('modDineshopStatus')}",{key:key,shopid:shopid},function(data){
				if(data == '1'){
					alert('操作成功');
					window.parent.frames["main"].location.reload();   
				}else if(data == '2'){
					alert('操作失败');
				}else{
					alert('您还未登录');
				}
			})
		}
	})
</script>
</html>