<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>管理系统首页</title>
{block name="style"}{/block}
<link rel="stylesheet" type="text/css" href="__LOCAL__/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__LOCAL__/css/style.css">
<link rel="stylesheet" type="text/css" href="__LOCAL__/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="__LOCAL__/images/icon/icon.png">
<link rel="shortcut icon" href="__LOCAL__/images/icon/favicon.ico">
<link rel="stylesheet" href="__LOCAL__/css/bootstrap.css">
<link rel="stylesheet" href="__LOCAL__/css/bootstrap.min.css">
<link rel="stylesheet" href="__LOCAL__/css/datetimepicker.min.css">
<link rel="stylesheet" href="__LOCAL__/js/layer/mobile/need/layer.css">
<link rel="stylesheet" href="__LOCAL__/css/font-awesome.min.css">
<link rel="stylesheet" href="__LOCAL__/css/login.css">
<link rel="stylesheet" href="__LOCAL__/css/style.css">
<script src="__LOCAL__/js/jquery.min.js"></script>
<script src="__LOCAL__/js/bootstrap.js"></script>
<script src="__LOCAL__/js/bootstrap.min.js"></script>
<script src="__LOCAL__/js/admin-scripts.js"></script>
<script src="__LOCAL__/js/html5shiv.min.js"></script>
<script src="__LOCAL__/js/jquery-1.11.1.min.js"></script>
<script src="__LOCAL__/js/jquery-2.1.4.min.js"></script>
<script src="__LOCAL__/js/respond.min.js"></script>
<script src="__LOCAL__/js/selectivizr-min.js"></script>
<script src="__LOCAL__/js/layer/layer.js"></script>
<script src="__LOCAL__/js/common.js"></script>
{block name="headscript"}{/block}
<!--[if gte IE 9]>
  <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="js/html5shiv.min.js" type="text/javascript"></script>
  <script src="js/respond.min.js" type="text/javascript"></script>
  <script src="js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>
{block name="body"}{/block}
{block name="bootscript"}{/block}
</body>
</html>
